TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=1234
TYPEORM_DATABASE=prado
TYPEORM_ENTITIES=./src/entity/**/*.ts
TYPEORM_MIGRATIONS=./src/migration/**/*.ts

SECRET_KEY=SUA_PALAVRA_SECRETA_AQUI

SMTP_HOST=SEU_SMTP_HOST_AQUI
SMTP_PORT=SEU_SMTP_PORT_AQUI
SMTP_USER=SEU_SMTP_USER_AQUI
SMTP_PASS=SEU_SMTP_PASS_AQUI
