TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=1234
TYPEORM_DATABASE=nuvora
TYPEORM_ENTITIES=./src/entity/**/*.ts
TYPEORM_MIGRATIONS=./src/migration/**/*.ts

SECRET_KEY=352
