TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=1234
TYPEORM_DATABASE=nuvora
TYPEORM_ENTITIES=./src/entity/**/*.ts
TYPEORM_MIGRATIONS=./src/migration/**/*.ts

SECRET_KEY=352

SMTP_HOST=smtp.provedor.com
SMTP_PORT=587
SMTP_USER=seuemail@provedor.com
SMTP_PASS=sua_senha_de_app_aqui
